* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    max-width: 500px;
    padding: 50px;
    margin: auto;
}

.card-types {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: wrap row;
    margin: 10px 0;
}

.card:nth-child(n+2) {
    margin-left: 5px;
}

.card {
    width: 48px;
    height: 32px;
}

.visa {
    background-image: url(/src/img/visa.png);
}

.mastercard {
    background-image: url(/src/img/mastercard.png);
}

.american-express {
    background-image: url(/src/img/american-express.png);
}

.jcb {
    background-image: url(/src/img/jcb.png);
}

.dinners-club {
    background-image: url(/src/img/diners-club.png);
}

.mir {
    background-image: url(/src/img/logo-mir.png);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
}

.input {
    flex: 0 0 30%;
    padding: 6px 12px;
    margin-right: 10px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    flex: 0 0 30%;
    height: 35px;
    background-color: #5bb565;
    border: none;
    border-radius: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: #7ef18a;
}

.disable {
    opacity: 0.3;
}

.tooltip {
    margin-top: 10px;
    font-size: 1rem;
}

.valid {
    color:#0d882b;
}

.not-valid {
    color:#b30e0e;
}